
h2 {
    color: #035451;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

div {
    text-align: center;
}

.characterBox {
    border: 1px solid black;
}

.characterLink:hover {
    background: lightgray;
}

.characterType {
    color: #035416;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
}