<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character list</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>Character List</h1>
    <a href="/characters/new" class="mb-2">
        <button class="btn btn-primary">Add Character</button>
    </a>
    <a class="characterBox characterLink d-block mt-3"
       th:each="character : ${characters}"
       th:href="'http://localhost:8083/characters/' + ${character.id}">

        <h2 th:text="${character.name}"></h2>
    </a>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.bundle.js"></script>
</body>
</html>