<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>Character List</h1>
    <a href="/characters/new">Add Character</a>
    <br/><br/>
    <a th:each="character : ${characters}" th:href="'http://localhost:8083/characters/' + ${character.id}">
        <div class="characterBox">
            <h2 th:text="${character.name}"></h2>
            <p>Character type: <span class="characterType" th:text="${character.characterType}"></span></p>
        </div>
    </a>
</div>
</body>
</html>